#Commons

# Logs
*.log

# Runtime data
*.pid
*.seed

# file-server-client [JAVA]
java/file-server-client/.idea/
java/file-server-client/target/
java/file-server-client/FileServerClient.iml

# rest [JAVA]
java/rest/.idea/
java/rest/target/
java/rest/rest.iml

#for text editors
**/*.*~


#nbproject for netbeans
**/nbproject/
**/node_modules/

#for idea
**/.idea/
**/target/
**/*.iml
